@using HairSalon.Models

@{
  Layout = "_Layout";
}


<h1>@Model.GetName()</h1>
<div class="homepage">
  <form action="/Stylist/@Model.GetId()/editname" method="post">
    <div class="homepage">
      <label for="newName"></label>
      <input type="text" name="newName" required>
    <button type="submit" class="">Edit Name</button></div>
  </form>

  <div class="homepage">
    <form action="/Stylist/@Model.GetId()/editdetail" method="post">
      <div class="homepage">
        <label for="newDetail"></label>
        <input type="text" name="newDetail" required>
      <button type="submit" class="">Edit Detail</button></div>
    </form>


<h3>Specialty:</h3>
<form action="/Stylist/@Model.GetId()/new" action="index.html" method="post" class="homepage">
  <select name="specialtyId">
    @foreach (var specialty in Specialty.GetAll())
    {
      <option value="@specialty.GetId()"> @specialty.GetName()</option>
    }
  </select>
  <button type="submit" class="">Add Specialty</button>
</form>

<h3>Stylist Specialty:</h3>
<ul class="homepage">
    @foreach( var specialty in Model.GetAllStylistSpecialties())
    {
      <li>@specialty.GetName()</li>
    }
</ul>

<h3>Client List:</h3>

<ul class="homepage">
  @foreach(var client in Model.GetAllClient())
  {
    <form action="/Stylist/deleteclient/@Model.GetId()" method="post">
      <input type="number" name="clientId" value="@client.GetId()" hidden>
      <li>@client.GetName() <button type="submit" class="">Delete</button></li>
    </form>
  }
</ul>

<h3>Add a New Client</h3>
<form action="/Stylists/@Model.GetId()/addclient" method="post" class="homepage">
    <label for="clientName">Client Name:</label>
     <input type="text" name="clientName" required>
  <button type="submit" class="">ADD</button>
</form>

<div class="homepage">
  <h3><a href="/Stylists">List of Stylists</a></h3>
  <h3><a href="/">Home</a></h3>
</div>
